{% extends "homepage.html" %}

{% block title %}
    <title>Update Wearer</title>
{% endblock %}

{% block style %}
	<style>
		.update-wearer {
			margin-top: 50px;
		}
	</style>
{% endblock %}


{% block content %}
    {% include "base.html" %}
    <div class="update-wearer"></div>
	<div class="row">
		<a href="{% url 'apiapp:wearer' %}">Go back to wearers</a>
	</div>
	<div class="card" id="create-device">
		<div class="card-title">
			<h4>Device id = {{ results }}</h4>
			<hr>
		</div>
		<div class="card-body">
			<form action="." method="POST">
				{% csrf_token %}
				{{ form }}
				<input type="submit" value="Update Wearer" class="btn btn-primary mt-2">
			</form>
		</div>
	</div>
{% endblock %}
